
/*.rooms_container{*/

/*    width: 100%;*/
/*    !*background-image: url('../assets/background.jpg');*!*/
/*    !*background-repeat:no-repeat;*!*/
/*    !*background-size: cover;*!*/
/*    aspect-ratio: 16 / 9;*/
/*    !*background-position: center;*!*/
/*}*/

/*#profile{*/
/*    background-image: url("../assets/emptyProfile.jpg");*/
/*    background-size: cover;*/
/*}*/

#addForm,
.detailCard{
    scrollbar-width: none;
}

@media(min-width:768px)and (max-width: 1023px) and (orientation: landscape){
    aside{
    order: 1;
    }
    #bodyContainer{
     flex-direction: row;

    }
    #halfScreen{
    order: 2;
        aspect-ratio: 16/10;
    }
}